@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
  
	margin: 0;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
  
}

.container {
	width: 80%;
	margin: 0 auto;
  
}

header {
  width: 100%;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav button {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

nav button:hover {
  color: #000;
}

nav button::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav button:hover::before {
  width: 100%;
}

.dropdown-menu {
  position: absolute;
  display: none;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-menu button {
  display: block;
  background: none;
  border: none;
  width: 100%;
  margin: 10px;
  text-align: left;
}

.dropdown-menu button:before {
  background-color: #ffffff;
  height: 0px;
}